<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokharatourism.user.pkr1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cont"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pokharatourism.user.pkr1.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pokharatourism.user.pkr1.Aboutpkr" />
        <activity android:name="com.pokharatourism.user.pkr1.Hill" />
        <activity android:name="com.pokharatourism.user.pkr1.Museum" />
        <activity android:name="com.pokharatourism.user.pkr1.Temple" />
        <activity android:name="com.pokharatourism.user.pkr1.Events" />
        <activity android:name="com.pokharatourism.user.pkr1.Festival" />
        <activity android:name="com.pokharatourism.user.pkr1.Essentialinfo" />
        <activity android:name="com.pokharatourism.user.pkr1.Trekking" />
        <activity android:name="com.pokharatourism.user.pkr1.Weather" />
        <activity android:name="com.pokharatourism.user.pkr1.Destination" />
        <activity android:name="com.pokharatourism.user.pkr1.Getting" />
        <activity android:name="com.pokharatourism.user.pkr1.Birds" />
        <activity android:name="com.pokharatourism.user.pkr1.Appendices" />
        <activity android:name="com.pokharatourism.user.pkr1.Member" />
        <activity android:name="com.pokharatourism.user.pkr1.Phewa" />
        <activity android:name="com.pokharatourism.user.pkr1.Begnas" />
        <activity android:name="com.pokharatourism.user.pkr1.Seti" />
        <activity android:name="com.pokharatourism.user.pkr1.Bhim" />
        <activity android:name="com.pokharatourism.user.pkr1.Mahendra" />
        <activity android:name="com.pokharatourism.user.pkr1.Bat" />
        <activity android:name="com.pokharatourism.user.pkr1.Gupt">

        </activity>
        <activity android:name="com.pokharatourism.user.pkr1.Devi" />
        <activity android:name="com.pokharatourism.user.pkr1.Mountain">

        </activity>
        <activity android:name="com.pokharatourism.user.pkr1.Kaskikot" />
        <activity android:name="com.pokharatourism.user.pkr1.Sarangkot" />
        <activity android:name="com.pokharatourism.user.pkr1.Australia" />
        <activity android:name="com.pokharatourism.user.pkr1.Thulakot" />
        <activity android:name="com.pokharatourism.user.pkr1.Mattikhana" />
        <activity android:name="com.pokharatourism.user.pkr1.Foksingkot" />
        <activity android:name="com.pokharatourism.user.pkr1.Kahun" />
        <activity android:name="com.pokharatourism.user.pkr1.Pandh" />
        <activity android:name="com.pokharatourism.user.pkr1.Anand" />
        <activity android:name="com.pokharatourism.user.pkr1.Intern" />
        <activity android:name="com.pokharatourism.user.pkr1.Region" />
        <activity android:name="com.pokharatourism.user.pkr1.Annapurna" />
        <activity android:name="com.pokharatourism.user.pkr1.Gurkha" />
        <activity android:name="com.pokharatourism.user.pkr1.Barahi" />
        <activity android:name="com.pokharatourism.user.pkr1.Kedar" />
        <activity android:name="com.pokharatourism.user.pkr1.Ram" />
        <activity android:name="com.pokharatourism.user.pkr1.Binda" />
        <activity android:name="com.pokharatourism.user.pkr1.World" />
        <activity android:name="com.pokharatourism.user.pkr1.Harihar" />
        <activity android:name="com.pokharatourism.user.pkr1.Bhadra" />
        <activity android:name="com.pokharatourism.user.pkr1.Tibetan" />
        <activity android:name="com.pokharatourism.user.pkr1.Paragliding" />
        <activity android:name="com.pokharatourism.user.pkr1.Ultralight" />
        <activity android:name="com.pokharatourism.user.pkr1.Mount" />
        <activity android:name="com.pokharatourism.user.pkr1.Raftinh" />
        <activity android:name="com.pokharatourism.user.pkr1.Cannyoing" />
        <activity android:name="com.pokharatourism.user.pkr1.Cycling" />
        <activity android:name="com.pokharatourism.user.pkr1.Golf" />
        <activity android:name="com.pokharatourism.user.pkr1.Zipline" />
        <activity android:name="com.pokharatourism.user.pkr1.Bunje" />
        <activity android:name="com.pokharatourism.user.pkr1.Swim" />
        <activity android:name="com.pokharatourism.user.pkr1.Rock" />
        <activity android:name="com.pokharatourism.user.pkr1.Pony" />
        <activity android:name="com.pokharatourism.user.pkr1.Honey" />
        <activity android:name="com.pokharatourism.user.pkr1.Hiking" />
        <activity android:name="com.pokharatourism.user.pkr1.Fish" />
        <activity android:name="com.pokharatourism.user.pkr1.Boat" />
        <activity android:name="com.pokharatourism.user.pkr1.Vulture" />
        <activity android:name="com.pokharatourism.user.pkr1.Ropani" />
        <activity android:name="com.pokharatourism.user.pkr1.Street" />
        <activity android:name="com.pokharatourism.user.pkr1.Trade" />
        <activity android:name="com.pokharatourism.user.pkr1.Tourism" />
        <activity android:name="com.pokharatourism.user.pkr1.Paragli" />
        <activity android:name="com.pokharatourism.user.pkr1.Phewafestival" />
        <activity android:name="com.pokharatourism.user.pkr1.Dashain" />
        <activity android:name="com.pokharatourism.user.pkr1.Tihar" />
        <activity android:name="com.pokharatourism.user.pkr1.Twohte" />
        <activity android:name="com.pokharatourism.user.pkr1.Teej" />
        <activity android:name="com.pokharatourism.user.pkr1.Gaijatra" />
        <activity android:name="com.pokharatourism.user.pkr1.Bhairab" />
        <activity android:name="com.pokharatourism.user.pkr1.Laphewa" />
        <activity android:name="com.pokharatourism.user.pkr1.Holi" />
        <activity android:name="com.pokharatourism.user.pkr1.Visa" />
        <activity android:name="com.pokharatourism.user.pkr1.Permits" />
        <activity android:name="com.pokharatourism.user.pkr1.Climate" />
        <activity android:name="com.pokharatourism.user.pkr1.Money" />
        <activity android:name="com.pokharatourism.user.pkr1.Communication" />
        <activity android:name="com.pokharatourism.user.pkr1.Postal" />
        <activity android:name="com.pokharatourism.user.pkr1.Electricity" />
        <activity android:name="com.pokharatourism.user.pkr1.Medical" />
        <activity android:name="com.pokharatourism.user.pkr1.Ayurveda" />
        <activity android:name="com.pokharatourism.user.pkr1.Accomodation" />
        <activity android:name="com.pokharatourism.user.pkr1.Shop" />
        <activity android:name="com.pokharatourism.user.pkr1.Laundry" />
        <activity android:name="com.pokharatourism.user.pkr1.Drinking" />
        <activity android:name="com.pokharatourism.user.pkr1.Food" />
        <activity android:name="com.pokharatourism.user.pkr1.Abc" />
        <activity android:name="com.pokharatourism.user.pkr1.Kafuche" />
        <activity android:name="com.pokharatourism.user.pkr1.Jomsom" />
        <activity android:name="com.pokharatourism.user.pkr1.Poonhill" />
        <activity android:name="com.pokharatourism.user.pkr1.Mardi" />
        <activity android:name="com.pokharatourism.user.pkr1.Mustang" />
        <activity android:name="com.pokharatourism.user.pkr1.Nar" />
        <activity android:name="com.pokharatourism.user.pkr1.Dhaulagiri" />
        <activity android:name="com.pokharatourism.user.pkr1.Manaslu" />
        <activity android:name="com.pokharatourism.user.pkr1.Dhorpatan" />
        <activity android:name="com.pokharatourism.user.pkr1.Panchase" />
        <activity android:name="com.pokharatourism.user.pkr1.Macchapuchre" />
        <activity android:name="com.pokharatourism.user.pkr1.Royaltrek" />
        <activity android:name="com.pokharatourism.user.pkr1.Millenium" />
        <activity android:name="com.pokharatourism.user.pkr1.Gorkha" />
        <activity android:name="com.pokharatourism.user.pkr1.Bandipur" />
        <activity android:name="com.pokharatourism.user.pkr1.Tansen" />
        <activity android:name="com.pokharatourism.user.pkr1.Chitwan" />
        <activity android:name="com.pokharatourism.user.pkr1.Lumbini" />
        <activity android:name="com.pokharatourism.user.pkr1.Dolpa" />
        <activity android:name="com.pokharatourism.user.pkr1.Glimpse" />
        <activity android:name="com.pokharatourism.user.pkr1.History" />
        <activity android:name="com.pokharatourism.user.pkr1.Why" />
        <activity android:name="com.pokharatourism.user.pkr1.Adventure1" />
        <activity android:name="com.pokharatourism.user.pkr1.Link" />
        <activity android:name="com.pokharatourism.user.pkr1.Contact" />
        <activity android:name="com.pokharatourism.user.pkr1.Aboutus" />
        <activity android:name="com.pokharatourism.user.pkr1.President" />
        <activity android:name="com.pokharatourism.user.pkr1.Tourismcouncil" />
        <activity android:name="com.pokharatourism.user.pkr1.Majortrek" />
        <activity android:name="com.pokharatourism.user.pkr1.Natural" />
        <activity android:name="com.pokharatourism.user.pkr1.Major1" />
        <activity android:name="com.pokharatourism.user.pkr1.Trek" />
        <activity android:name="com.pokharatourism.user.pkr1.Trekdest" />
        <activity android:name="com.pokharatourism.user.pkr1.Ac" />
        <activity android:name="com.pokharatourism.user.pkr1.Annapurnabasecamp"></activity>
    </application>

</manifest>